.therapeutic-areas {
    position: relative;
    background-image: url('../assets/background2.png');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    color: #fff;
    min-height: 100vh; /* Changed from height to min-height */
}

.therapeutic-areas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.therapeutic-areas .text {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.therapeutic-areas h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: white;
}

.therapeutic-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.therapeutic-section {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    height: auto; /* Remove fixed height */
    max-height: 150px; /* Ensure maximum height before expanding */
    transition: max-height 0.3s ease;
}

.therapeutic-section h3 {
    font-family: 'Secular One', sans-serif;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.therapeutic-section p {
    font-family: 'Secular One', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.therapeutic-section .read-more {
    display: block;
    font-family: 'Secular One', sans-serif;
    font-size: 1em;
    margin-top: 10px;
    color: #fff;
    text-decoration: underline;
}

.therapeutic-section.active {
    max-height: 400px; /* Limit max height for expanded sections */
}

.therapeutic-section.active p {
    max-height: 300px; /* Set the height to accommodate the expanded content */
    transition: max-height 0.3s ease-in;
}

.therapeutic-section.active .read-more {
    display: none;
}

@media screen and (max-width: 768px) {
    .therapeutic-block {
        flex-direction: column;
        gap: 15px;
    }

    .therapeutic-section {
        width: 100%;
        max-height: 150px;
    }

    .therapeutic-section h3 {
        font-size: 1.5em;
    }

    .therapeutic-section p {
        font-size: 1em;
    }

    .therapeutic-section .read-more {
        font-size: 0.9em;
    }

    .therapeutic-section.active {
        max-height: 300px;
    }

    .therapeutic-section.active p {
        max-height: 250px;
    }
}
